.m-vueInput {
  position: relative;
  padding: 0 .3rem 0 .12rem;
  background: #fff;
  border: 1px solid #ebedf0;
  border-radius: .05rem;
  color: #666;
  font-size: .14rem;
  &.bd-noclear {
    padding: 0 .12rem 0 .12rem;
  }
  &.el-input-large {
    font-size: .16rem;
    .vueInput-bd {
      padding: .14rem 0;
    }
  }
  &.el-input-medium {
    font-size: .14rem;
    .vueInput-bd {
      padding: .12rem 0;
    }
  }
  &.el-input-small {
    font-size: .12rem;
    .vueInput-bd {
      padding: .1rem 0;
    }
  }
  &.el-input-align-left {
    text-align: left;
  }
  &.el-input-align-right {
    text-align: right;
  }
  .vueInput-bd {
    width: 100%;
    padding: .12rem 0;
    color: inherit;
    font-size: inherit;
    background: inherit;
    text-align: inherit;
    .input-default {
      width: 100%;
      color: inherit;
      font-size: inherit;
      background: inherit;
      line-height: initial;
      text-align: inherit;
      resize: none;
      border: 0;
      outline: 0;
    }
  }
  .icon-delete {
    width: .15rem;
    height: .15rem;
    position: absolute;
    top: 34%;
    right: .12rem;
    background: url('../theme/assets/ico-delete.png') no-repeat;
    background-size: 100%;
  }
}