@charset "utf-8";
$base: (
  font-path: "../font/"  // 自定义指定scss字体位置
);

@import "~ruicss/sass/index.scss";
@include root-scroll(true);

/**
 * rui-header
 */
@include rui-header(
  $name: 'case',
  $font-size: .2rem,
  $height: .4833rem,
  $bgcolor: #fff,
  $color: #333
){
  border-bottom: #E5E5E5;
  .back {
    top: .11rem;
  }
}
 
/**
 * rui-btn
 */
@include rui-btn(
  $name: "demo",
  $border-width: 1px,
  $bgcolor: #fff,
  $height: .44rem,
  $width: auto,
  $font-size: .14rem,
  $color: #323233,
  $padding: 0 .15rem,
  $border-color: #ebedf0,
  $active-color: #323233,
  $active-bgcolor : rgba(0, 0, 0, .15),
  $active-border-color: rgba(0, 0, 0, .15)
){
  margin-left: .15rem;
}