@font-face {
  font-family: '56easyLoan';
  src:
    url('../font/ruifont.ttf?rhze7n') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'ruifont' !important;
  // speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  width: 20px;
  height: 20px;
}

.icon-back:before {
  content: "\e903";
  color: #333;
  font-size: .2rem;
  font-weight: bold;
}

.icon-back-white:before {
  content: "\e903";
  color: #fff;
  font-size: .25rem;
  font-weight: bold;
}